* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    color: rgb(87, 97, 107);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 241, 238);
    text-align: center;
    box-shadow: 0 12px 18px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
}

.wrapper img {
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.title {
    margin-bottom: 2rem;
}

.title h1 {
    letter-spacing: -1px;
}

.title h1 span {
    color: rgb(245, 153, 82);
}

.title p {
    font-weight: 300;
}

.content {
    padding: 2rem;
    margin: auto;
}

.content label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 500;
}

.content input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 1rem;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(245, 153, 82, 0.7);
    border-radius: 4px;
}

.btn-result {
    width: 100%;
    padding: 12px;
    margin-top: 1rem;
}

