* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.wrapper {
    display: flex;
}

.wrapper img {
    width: 300px;
}