* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    color: rgb(87, 97, 107);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 252, 252);
    text-align: center;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
}

.wrapper img {
    width: 40%;
    height: 100%;
    border-radius: 8px 0 0 8px;
    object-fit: cover;
}

.title {
    margin-bottom: 2rem;
}

.title h1 {
    letter-spacing: -1px;
}

.title h1 span {
    color: rgb(245, 153, 82);
}

.title p {
    font-weight: 300;
}

.content {
    padding: 2rem;
    margin: auto;
}

.content label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 500;
}

.content input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 1rem;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(245, 153, 82, 0.7);
    border-radius: 4px;
}

.btn-result {
    width: 100%;
    padding: 12px;
    margin-top: 1rem;
    background-color: rgb(245, 153, 82);
    border: none;
    color: rgb(252, 252, 252);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-result:hover {
    background-color: rgb(87, 97, 107);
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:80px;
    background-color: rgb(87, 97, 107);
    border-radius: 4px;
    color: rgb(252, 252, 252);
}

#label-result {
    text-align: center;
    margin-top: 1rem;
}

