* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    color: rgb(87, 97, 107);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: rgb(245, 241, 238);
    padding: 0 4rem 0 0;
    text-align: center;
    box-shadow: 0 12px 18px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
}

.wrapper img {
    height: 350px;
    border-radius: 20px 0 0 20px;
    
}

.title {
    margin-bottom: 2rem;
}

.title h1 {
    letter-spacing: -1px;
}

.title h1 span {
    color: rgb(236, 193, 161);
}

.title p {
    font-weight: 300;
}

.content label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 500;
}

.content input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 1rem;
    background-color: rgb(218, 200, 190);
    outline: none;
    border: none;
    border-radius: 4px;
    color: rgb(87, 97, 107);
}

